body{
    background-color: lightseagreen;
}

header{
    background-color: black;
    height: 75px;
}

main {
    width: 960px;
    margin: 10px auto;
}
main ul li {
    list-style: none;
    float: left;
    margin: 10px 30px 10px 0px;
}
main li:last-child{
    margin-right: 0px;
}
main ul {
    margin: 0px auto;
    padding: 0px;
}
div {
    margin: 5px auto;
}

footer{
    background-color: black;
    height: 75px;
}